<!DOCTYPE html>
<!-- This is not meant to be good HTML. Just deal with it, please. -->
<html>
  <head>
    <script src = '{{ url_for('static', filename = 'script.js') }}'></script>
  </head>
  <body onload='load();'>
    <a href = '/ipc'>IPC debugger</a>

    <h1>Discord Debugger</h1>
    <h3>A thrown-together Discord Scope Debugger</h3>

    <p>Your application ID is: <code>{{ CLIENT_ID }}</code></p>
    <p id = 'access_token'>Your access_token is: </p>
    <p>No token? Try: <a target = '_blank' href = 'https://discord.com/developers/applications/{{ CLIENT_ID }}/oauth2/url-generator'>OAuth2 URL generator</a> -- just put your redirect URL as http://localhost:1234</p>
    <a href =
    'https://discord.com/api/oauth2/authorize?client_id={{ CLIENT_ID }}&redirect_uri=http%3A%2F%2Flocalhost%3A1234&response_type=code&scope=identify%20gdm.join%20guilds%20rpc.video.write%20messages.read%20email%20guilds.join%20rpc%20rpc.voice.read%20rpc.activities.write%20rpc.voice.write%20rpc.screenshare.read%20connections%20guilds.members.read%20rpc.notifications.read%20rpc.video.read%20rpc.screenshare.write%20role_connections.write'
    >Here's all of the public, non-bot scopes for quick reference.</a>
    <br>
    <a href =
    'https://discord.com/api/oauth2/authorize?client_id={{ CLIENT_ID }}&redirect_uri=http%3A%2F%2Flocalhost%3A1234&response_type=code&scope=identify%20guilds%20gdm.join%20messages.read%20email%20guilds.join%20connections%20guilds.members.read%20role_connections.write'
    >And ones that aren't exclusive to the application owner.</a>
    <p>Scopes: <code id = 'scopes'></code></p>
    <a href = 'javascript:deleteAllCookies();'>Delete cookies</a>
    <br>
    <select id = 'routes_select' autocomplete = 'off' onchange = 'change();'>
      <option value = '' selected></option>
      {% for route in routes %}
      <option value = '{{ route.name }}'>{{ route.name }}</option>
      {% endfor %}
    </select>
    {% for route in routes %}
    <div id = '{{ route.name }}' style = 'display:none;'>
      <h3>{{ route.name }}</h3>
      <p>OAuth scopes required:
        <br>
        <code>{{ '<br>'.join(route.oauth)|safe }}</code>
      </p>
      <p>Requires:
        <br>
        <code>{{ '<br>'.join(route.requires)|safe }}</code>
      </p>
      <p>Note:
        <br>
        <code>{{ route.note.replace('\n', '<br>')|safe }}</code>
      </p>
      {% for require in route.requires %}
        <label for = '{{ route.name }}/{{ require }}'>{{ require }}</label>
        <input type = 'text' id = '{{ route.name }}/{{ require }}'></input>
        <br>
      {% endfor %}
      <a href = 'javascript:request("{{ route.name }}");'>Try!</a>
    </div>
    {% endfor %}
  </body>
</html>
