<!DOCTYPE html>
<!-- This is not meant to be good HTML. Just deal with it, please. -->
<html>
  <head>
    <script>
    // https://stackoverflow.com/a/179514
    function deleteAllCookies() {
        const cookies = document.cookie.split(';');

        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i];
            const eqPos = cookie.indexOf('=');
            const name = eqPos > -1 ? cookie.substr(0, eqPos) : cookie;
            document.cookie = name + '=;expires=Thu, 01 Jan 1970 00:00:00 GMT';
        }
        location.reload();
    }

    // https://www.w3schools.com/js/js_cookies.asp
    function getCookie(key) {
      key += '=';
      let cookies = decodeURIComponent(document.cookie).split(';');
      for (let i = 0; i < cookies.length; i++) {
        let cookie = cookies[i];
        while (cookie.charAt(0) == ' ') {
          cookie = cookie.substring(1);
        }
        if (cookie.indexOf(key) == 0) {
          return cookie.substring(key.length, cookie.length);
        }
      }
      return '';
    }

    function load() {
      let access_token = getCookie('access_token');
      let scopes = getCookie('scope');
      document.getElementById('access_token').innerHTML += '<code>' + access_token + '</code>';
      document.getElementById('scopes').innerHTML = scopes;
    }

    function request(route) {
      let href = `/request?route=${route}`;
      let inputs = document.getElementsByTagName('input');
      for (let input of inputs) {
        if (input.id.startsWith(route + '/')) {
          href += `&${input.id.replace(route + '/', '')}=${input.value}`;
        }
      }
      if (!window.confirm('Transferring you over to ' + href)) {
        return;
      }
      location.href = href;
    }

    function change() {
      for (let element of document.getElementsByTagName('div')) {
        element.style.display = 'none';
      }
      document.getElementById(routes_select.value).style.display = 'block';
    }
    </script>
  </head>
  <body onload='load();'>
    <h1>Discord Debugger</h1>
    <h3>A thrown-together Discord Scope Debugger</h3>

    <p>Your application ID is: <code>{{ CLIENT_ID }}</code></p>
    <p id = 'access_token'>Your access_token is: </p>
    <p>No token? Try: <a target = '_blank' href = 'https://discord.com/developers/applications/{{ CLIENT_ID }}/oauth2/url-generator'>OAuth2 URL generator</a> -- just put your redirect URL as http://localhost:1234</p>
    <p>Scopes: <code id = 'scopes'></code></p>
    <a href = 'javascript:deleteAllCookies();'>Delete cookies</a>
    <br>
    <select id = 'routes_select' autocomplete = 'off' onchange = 'change();'>
      <option value = '' selected></option>
      {% for route in routes %}
      <option value = '{{ route.name }}'>{{ route.name }}</option>
      {% endfor %}
    </select>
    {% for route in routes %}
    <div id = '{{ route.name }}' style = 'display:none;'>
      <h3>{{ route.name }}</h3>
      <p>OAuth scopes required:
        <br>
        <code>{{ '<br>'.join(route.oauth)|safe }}</code>
      </p>
      <p>Requires:
        <br>
        <code>{{ '<br>'.join(route.requires)|safe }}</code>
      </p>
      {% for require in route.requires %}
        <label for = '{{ route.name }}/{{ require }}'>{{ require }}</label>
        <input type = 'text' id = '{{ route.name }}/{{ require }}'></input>
        <br>
      {% endfor %}
      <a href = 'javascript:request("{{ route.name }}");'>Try!</a>
    </div>
    {% endfor %}
  </body>
</html>
